$white: #ffff;
$darkGrey: #383743;
$lightBlue: #5dc6c7;
$blue: #57bbbc;
$red: #ff0f44;

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sign-in{
    font-family: "Roboto-Regular";
    text-align: center;
    margin-top: 6rem;
    padding: 1rem;

    &__logo{
        background-image: url('../../images/signInForm/logo-sign-in.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15rem;
        width: 100%;
        min-width: 15rem;
        min-height: 5rem;
    }

    &__description{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $darkGrey;
        line-height: 1.4;

        &-container{
            margin: 6vh 0 0 0;
        }
        &-title{
            font-family: "Roboto-Bold";
            line-height: 1.4;
            font-size: 1.2rem;
            margin: 0 auto 0 auto;
            width: 7rem;
        }
        &-text{
            width: 20rem;
            margin: 0 auto 0 auto;
            font-size: 1rem;
        }
    }

    &__form{
        display: inline-block;
        width: 100%;
    }
    &__input{
        display: inline-block;
        position: relative !important;
        margin: 2rem auto 0 auto;
        border-bottom: .1rem solid $darkGrey;
        width: 33%;
        min-width: 20rem;
        padding-bottom: .3rem;

        &-email , &-password{
            display: inline-block;
            background-color: transparent;
            color: $darkGrey;
            letter-spacing: 2px;
            border: none;
            font-size: 1rem;
            width: 80%;
            min-width: 14rem;
            padding: .3rem;

            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus, 
            &:-webkit-autofill:active  {
                box-shadow: none;
                -webkit-box-shadow: none;
            } 
            &:focus{
                outline: none;
            }
        }
        &-label{
            float: left;
            background-position: center;
            background-repeat: no-repeat;
            width: 1.3rem;
            height: 1.3rem;
            background-size: 1.7rem;
        }
        &-status{
            display: inline-block;
            color: $white;
            background-color: $red;
            border-radius: 50%;
            width: 1.7rem;
            height: 1.7rem;
            font-size: 1.2rem;
        }
        &-reveal{
            background-image: url('../../images/signInForm/ic-eye-password.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            background-size: 1.5rem;
            width: 1.6rem;
            height: 1.6rem;

            &:focus{
                outline: none;
            }
        }
        &-feedback{
            color: $red;
            font-size: 1rem;
            margin: 1rem 0 0 0;
        }
    }

    &__button{
        color: $white;
        background-color: $blue;
        font-family: "Roboto-Bold";
        font-size: .9rem;
        border: none;
        border-radius: .3rem;
        width: 30%;
        min-width: 18rem;
        height: 3rem;
        margin: .6rem 0 0 0;

        &:focus{
            outline: none;
        }
    }

    &__loader{
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 1000;
        overflow: auto;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        &-spinner{
            margin: 0 auto 0 auto;
            animation: spin 2s linear infinite;
            border: .6rem solid $blue;
            border-top: .7rem solid transparent;
            border-radius: 50%;
            width: 6rem;
            height: 6rem;
        }
    }
}
@media (min-width: 801px) {
    .sign-in{
        margin-top: 15vh;
        padding: 1vh;
    
        &__logo{
            background-size: 30vh;
            min-width: 35vh;
            min-height: 10vh;
        }
    
        &__description{
    
            &-container{
                margin: 6vh 0 0 0;
            }
            &-title{
                font-size: 2.5vh;
                width: 14vh;
            }
            &-text{
                width: 40vh;
                font-size: 1.9vh;
            }
        }
        
        &__input{
            margin: 3vh auto 0 auto;
            border-bottom: .01vh solid $darkGrey;
            min-width: 40vh;
            padding-bottom: .5vh;
    
            &-email , &-password{
                font-size: 1.9vh;
                min-width: 27vh;
                padding: .5vh;
    
                &:focus{
                    outline: none;
                }
            }
            &-label{
                width: 3vh;
                height: 3vh;
                background-size: 3vh;
            }
            &-status{
                width: 3.2vh;
                height: 3.2vh;
                font-size: 2.5vh;
            }
            &-reveal{
                background-size: 3vh;
                width: 3.2vh;
                height: 3.2vh;
    
                &:hover{
                    cursor: pointer;
                }
            }
            &-feedback{
                font-size: 1.5vh;
                margin: 2vh 0 0 0;
            }
        }
    
        &__button{
            font-size: 1.8vh;
            min-width: 35vh;
            height: 6vh;
            margin: 1vh 0 0 0;
            border-radius: .3vh;
    
            &:hover{
                background-color: $lightBlue;
                transition: background-color ease-in-out 100ms;
                cursor: pointer;
            }
        }
    
        &__loader{
    
            &-spinner{
                border: 1.2vh solid $blue;
                border-top: 1.2vh solid transparent;
                width: 12vh;
                height: 12vh;
            }
        }
    }
}
.--hidden{
    display: none !important;
}
.--invisible{
    visibility: hidden;
}
.--email{
    background-image: url('../../images/signInForm/ic-email.svg');
}
.--password{
    background-image: url('../../images/signInForm/ic-lock.svg');
}
.--blured{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}