$white: #ffff;
$darkGrey: #383743;
$red: #D84570;

.navbar{
    width: 100%;
    background-color: $red;
    min-height: 4rem;
    padding-top: 2rem;
    
    &__input{
        display: flex;
        margin: 0 .5rem 0 0;
    }
    &__sing-out{
        background-image: url('../../images/navbar/ic-signout.svg');
        outline: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.5rem;
        width: 3rem;
        height: 2rem;
        border: 0;

        &:hover{
            cursor: pointer;
        }
    }
    &__logo{
        background-image: url('../../images/navbar/logo-search.png');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto 0 auto;
        background-size: 10rem;
        width: 10rem;
        height: 2.5rem;
    }
}
.filter{
    &__button{
        outline: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2rem;
        width: 2rem;
        height: 2rem;
        border: 0;
    
    }
    &__search{
        color: $white;
        font-family: "Roboto-Regular";
        letter-spacing: 2px;
        width: 100%;
        background-color: transparent !important;
        border: none;
        font-size: 1rem;

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            color: $white !important;
            box-shadow: none;
            -webkit-box-shadow: none;
        } 
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: $darkGrey;
        }
    }
}
.--input-mode{
    width: 98%;
    float: right;
    border-bottom: .1rem solid $white;
}
@media (min-width: 801px) {
    .navbar{
        min-height: 8vh;
        padding-top: 3vh;
        
        &__input{
            margin: 0 2vh 0 2vh;
        }
        &__sing-out{
            background-size: 3.5vh;
            width: 4vh;
            height: 5vh;
        }
        &__logo{
            background-size: 20vh;
            width: 20vh;
            height: 5vh;
        }
    }
    .filter{
        &__button{
            background-size: 5vh;
            width: 5vh;
            height: 5vh;
        
            &:hover{
                cursor: pointer;
            }
        }
        &__search{
            font-size: 2vh;
        }
    }
    .--input-mode{
        border-bottom: .01vh solid $white;
    }
}
.--search{
    background-image: url('../../images/navbar/ic-search.svg');
}
.--close{
    background-image: url('../../images/navbar/ic-close.svg');
}