$grey: #EBE9D7;

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto/Regular/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Roboto/Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Roboto/Regular/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Roboto/Regular/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Roboto/Regular/Roboto-Regular.svg#svgRoboto-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./fonts/SourceSansPro/Regular/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/SourceSansPro/Regular/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/SourceSansPro/Regular/SourceSansPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/SourceSansPro/Regular/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/SourceSansPro/Regular/SourceSansPro-Regular.svg#svgSourceSansPro-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto/Bold/Roboto-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Roboto/Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Roboto/Bold/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Roboto/Bold/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Roboto/Bold/Roboto-Bold.svg#svgRoboto-Bold') format('svg'); /* Legacy iOS */
}

html{
  background-color: $grey;
}
body{
  margin: 0;
}